Package: com.jw97.fliplaunch
Name: FlipLaunch
Depends: mobilesubstrate, preferenceloader, applist, com.a3tweaks.flipswitch
Version: 1.0.1
Architecture: iphoneos-arm
Description: Quick Launch shortcuts for FlipSwitch
Maintainer: Jack Willis
Author: Jack Willis
Section: Tweaks
